@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

/*-----*/
.wave-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 15;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  /*------ТЕКСТ КНОПКИ--------*/
  /*---------ВОЛНЫ-------*/ }
  .wave-btn:hover {
    -webkit-box-shadow: 0 0 40px #b4977b;
    box-shadow: 0 0 40px #b4977b;
    /**/
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
  .wave-btn__text {
    position: relative;
    z-index: 1;
    text-align: center;
    /**/
    -webkit-transition: all 5s ease 0s;
    -o-transition: all 5s ease 0s;
    transition: all 5s ease 0s; }
  .wave-btn__waves {
    position: absolute;
    left: 18%;
    top: 0;
    /**/
    -webkit-transition: all 6s ease 0s;
    -o-transition: all 6s ease 0s;
    transition: all 6s ease 0s; }
    .wave-btn__waves:after, .wave-btn__waves::before {
      content: '';
      position: absolute;
      top: 0;
      width: 260%;
      height: 260%;
      /**/ }
    .wave-btn__waves:after {
      left: 38%;
      border-radius: 44%;
      /**/ }
    .wave-btn__waves::before {
      left: 62%;
      border-radius: 42%;
      /**/ }

.wave-btn:hover .wave-btn__waves {
  top: -300px; }

/*----keyframes HEADER btn-----*/
@-webkit-keyframes wavesHeader {
  0% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1); } }
@keyframes wavesHeader {
  0% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1); } }

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1); } }

@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1); } }

/*--Анимация-выделения-кнопки(напоминалка)--*/
.line-btn {
  z-index: -1;
  background-color: #b4977b;
  position: absolute; }

.line-btn-top {
  top: 0;
  left: 0%;
  width: 0%;
  height: 1%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-top.active {
  -webkit-animation: line-top 1s 1;
  animation: line-top 1s 1; }

.line-btn-right {
  top: 0%;
  right: 0%;
  width: 0.5%;
  height: 0%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-right.active {
  -webkit-animation: line-right 1s 0.2s 1;
  animation: line-right 1s 0.2s 1; }

.line-btn-bottom {
  bottom: 0%;
  right: 0%;
  width: 0%;
  height: 1%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-bottom.active {
  -webkit-animation: line-bottom 1s 0.4s 1;
  animation: line-bottom 1s 0.4s 1; }

.line-btn-left {
  bottom: 0%;
  left: 0%;
  width: 0.5%;
  height: 0%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-left.active {
  -webkit-animation: line-left 1s 0.7s 1;
  animation: line-left 1s 0.7s 1; }

@-webkit-keyframes line-top {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    left: unset;
    right: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    left: unset;
    right: 0%;
    opacity: 1; } }

@keyframes line-top {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    left: unset;
    right: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    left: unset;
    right: 0%;
    opacity: 1; } }

@-webkit-keyframes line-bottom {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    right: unset;
    left: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    right: unset;
    left: 0%;
    opacity: 1; } }

@keyframes line-bottom {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    right: unset;
    left: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    right: unset;
    left: 0%;
    opacity: 1; } }

@-webkit-keyframes line-right {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    top: unset;
    bottom: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    top: unset;
    bottom: 0%;
    opacity: 1; } }

@keyframes line-right {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    top: unset;
    bottom: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    top: unset;
    bottom: 0%;
    opacity: 1; } }

@-webkit-keyframes line-left {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    bottom: unset;
    top: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    bottom: unset;
    top: 0%;
    opacity: 1; } }

@keyframes line-left {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    bottom: unset;
    top: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    bottom: unset;
    top: 0%;
    opacity: 1; } }

/*---------------------*/
/*---скролл-бар---*/
body::-webkit-scrollbar {
  width: 8px; }

body::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.472); }

body::-webkit-scrollbar-thumb {
  background-color: #b4977b;
  border-radius: 10px; }

/*-----общие-стили----*/
h1 {
  position: absolute;
  z-index: -100;
  opacity: 0; }

.btn-blue {
  position: relative; }

/*-----ИМПОРТИРУЕМЫЕ-СТИЛИ----*/
/*-----HEADER---*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*---*/
  /*----КНОПКА---*/ }
  .header__container {
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__phone-container {
    width: 280px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__phone-img {
    width: auto;
    height: 100%; }
  .header__phone {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: white;
    letter-spacing: 2px; }
  .header__logo {
    width: 620px;
    height: 90px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content; }
    .header__logo img {
      width: 100%;
      height: 100%; }
  .header__btn {
    width: 280px;
    height: 60px; }
    .header__btn .wave-btn {
      width: 100%;
      height: 100%;
      border: 5px solid white;
      border-radius: 5px;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .header__btn .wave-btn:hover {
        border: 5px solid #b4977b; }
      .header__btn .wave-btn:hover .wave-btn__text {
        color: black; }
      .header__btn .wave-btn__text {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .header__btn .wave-btn__waves {
        width: 280px;
        height: 280px;
        -webkit-transition: all 8s ease 0s;
        -o-transition: all 8s ease 0s;
        transition: all 8s ease 0s; }
        .header__btn .wave-btn__waves:after {
          background-color: white;
          -webkit-animation: wavesHeader 4s infinite linear;
          animation: wavesHeader 4s infinite linear; }
        .header__btn .wave-btn__waves::before {
          background-color: rgba(255, 255, 255, 0.6);
          -webkit-animation: wavesHeader 6s infinite linear;
          animation: wavesHeader 6s infinite linear; }

/*------1-БЛОК----*/
.service-block {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/bg.jpg");
  /*--контейнер с контентом--*/
  /*--заголовок--*/
  /*--подзаголовок--*/
  /* The typing effect */
  /* The typewriter cursor effect */
  /*----КНОПКА---*/ }
  .service-block::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65); }
  .service-block__container {
    position: relative;
    z-index: 5;
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 200px 0 120px;
    color: white; }
  .service-block__title {
    margin-top: 50px;
    font-size: 84px;
    font-weight: 900;
    line-height: 94px;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .service-block__subtitle {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 70px 0px 110px;
    font-size: 66px;
    font-weight: 500;
    line-height: 80px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    overflow: hidden;
    border-right: 4px solid #b4977b;
    white-space: nowrap;
    -webkit-animation: typing 15s steps(30, end) infinite, blink-caret 1.2s step-end infinite;
    animation: typing 15s steps(30, end) infinite, blink-caret 1.2s step-end infinite; }

@-webkit-keyframes typing {
  0% {
    width: 0; }
  20% {
    width: 100%; }
  100% {
    width: 100%; } }

@keyframes typing {
  0% {
    width: 0; }
  20% {
    width: 100%; }
  100% {
    width: 100%; } }

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #b4977b; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #b4977b; } }
  .service-block__btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .service-block__btn {
    width: 400px;
    height: 130px;
    background-color: #3a4574;
    border: 2px solid #3a4574; }
    .service-block__btn .wave-btn {
      width: 100%;
      height: 100%;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .service-block__btn .wave-btn:hover {
        -webkit-box-shadow: 0 0 10px 1px #b4977b;
        box-shadow: 0 0 10px 1px #b4977b; }
      .service-block__btn .wave-btn:hover .wave-btn__text {
        color: #3a4574;
        text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
      .service-block__btn .wave-btn__text {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .service-block__btn .wave-btn__waves {
        width: 280px;
        height: 280px;
        /**/
        -webkit-transition: all 4.3s ease 0s;
        -o-transition: all 4.3s ease 0s;
        transition: all 4.3s ease 0s; }
        .service-block__btn .wave-btn__waves:after {
          background-color: #b4977b;
          -webkit-animation: waves 4s infinite linear;
          animation: waves 4s infinite linear; }
        .service-block__btn .wave-btn__waves::before {
          background-color: rgba(211, 180, 127, 0.566);
          -webkit-animation: waves 6s infinite linear;
          animation: waves 6s infinite linear; }
  .service-block__social-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px; }
  .service-block__link {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white; }
    .service-block__link:hover {
      -webkit-box-shadow: 0 0 15px 5px rgba(211, 180, 127, 0.566);
      box-shadow: 0 0 15px 5px rgba(211, 180, 127, 0.566);
      background-color: rgba(211, 180, 127, 0.566); }
  .service-block__wp {
    background-image: url("../img/wp1.svg"); }
  .service-block__tg {
    background-image: url("../img/tg.svg"); }
  .service-block__vk {
    background-image: url("../img/vk.svg"); }

/*------2-БЛОК----*/
.advantages-block {
  width: 100%;
  /*--заголовок*/
  /*--изображение--*/
  /*--карточки--*/ }
  .advantages-block__container {
    position: relative;
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 100px 0 50px;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'card-1 img card-2' 'card-3 img card-4';
    -ms-grid-columns: 30% 1fr 30%;
    grid-template-columns: 30% 1fr 30%;
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px; }
  .advantages-block__title {
    width: 36%;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -18%;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .advantages-block__people-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: img;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 50px; }
  .advantages-block__card {
    width: 100%;
    height: 100%;
    min-height: 350px;
    border: 2px dashed #b4977b; }

/*---КАРТОЧКИ ПРИЕМУЩЕСТВ--*/
.card-advantages {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  padding: 20px 10px;
  overflow: hidden;
  -webkit-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s; }
  .card-advantages__img {
    width: 100%;
    height: 150px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .card-advantages__title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    margin: 5px 0 10px; }
  .card-advantages__text {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.card-advantages-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-1; }

.card-advantages-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card-2; }

.card-advantages-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-3; }

.card-advantages-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: card-4; }

/*----Изображения в карточках--*/
.quality {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 110px;
  margin-left: -55px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: quality;
  animation-name: quality;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes quality {
  0% {
    width: 150px;
    top: -150%;
    left: -150%;
    opacity: 0.3; }
  40% {
    width: 130px;
    top: 50px;
    left: 30%;
    opacity: 0.3; }
  60% {
    width: 140px;
    margin-left: -70px;
    left: 50%;
    top: 10px;
    opacity: 0.3; }
  100% {
    width: 110px;
    left: 50%;
    top: 20px;
    margin-left: -55px;
    opacity: 1; } }

@keyframes quality {
  0% {
    width: 150px;
    top: -150%;
    left: -150%;
    opacity: 0.3; }
  40% {
    width: 130px;
    top: 50px;
    left: 30%;
    opacity: 0.3; }
  60% {
    width: 140px;
    margin-left: -70px;
    left: 50%;
    top: 10px;
    opacity: 0.3; }
  100% {
    width: 110px;
    left: 50%;
    top: 20px;
    margin-left: -55px;
    opacity: 1; } }

.money {
  position: absolute;
  z-index: 1;
  width: 70px;
  height: auto;
  left: 50%;
  top: -100px;
  margin-left: -50px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: money;
  animation-name: money;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.wallet {
  position: relative;
  z-index: 5;
  height: 110px;
  background-color: white; }

@-webkit-keyframes money {
  0% {
    top: -100px;
    opacity: 0; }
  1% {
    top: -100px;
    opacity: 1; }
  99% {
    top: 80px;
    opacity: 1; }
  100% {
    top: 80px;
    opacity: 0; } }

@keyframes money {
  0% {
    top: -100px;
    opacity: 0; }
  1% {
    top: -100px;
    opacity: 1; }
  99% {
    top: 80px;
    opacity: 1; }
  100% {
    top: 80px;
    opacity: 0; } }

.fast {
  position: absolute;
  width: 270px;
  height: 90px;
  left: 50%;
  top: 50%;
  margin: -45px 0px 0px -135px; }

.wheel {
  height: 40px;
  font-size: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #3a4574;
  position: absolute;
  bottom: 37.8px;
  left: 50%;
  -webkit-animation: wheel 0.4s infinite linear;
  animation: wheel 0.4s infinite linear; }

.wheel-1 {
  margin-left: -126.3px; }

.wheel-2 {
  margin-left: 48.5px; }

@-webkit-keyframes wheel {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@keyframes wheel {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

.line-fast {
  position: absolute;
  height: 3px;
  background-color: #b4977b; }

.line-fast-1 {
  width: 30px;
  top: 30px;
  -webkit-animation: lineFast 1.2s infinite linear;
  animation: lineFast 1.2s infinite linear; }

.line-fast-2 {
  top: 60px;
  width: 40px;
  -webkit-animation: lineFast 1.5s infinite linear;
  animation: lineFast 1.5s infinite linear; }

@-webkit-keyframes lineFast {
  0% {
    left: 150%; }
  100% {
    left: -150%; } }

@keyframes lineFast {
  0% {
    left: 150%; }
  100% {
    left: -150%; } }

/*----ДОРОГА В АНИМАЦИИ--*/
.card-advantages__string {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden; }

.card-advantages__marquee {
  height: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: string 1s infinite linear;
  animation: string 1s infinite linear;
  background-color: #3a4574; }

@-webkit-keyframes string {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: -75%; } }

@keyframes string {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: -75%; } }
  .card-advantages__marquee .road {
    width: 100px;
    height: 15px;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    background: #cccccc;
    margin: 0px 0.1px; }

.computer {
  position: relative;
  width: 180px;
  height: auto; }

.disp {
  content: '';
  z-index: 10;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 100px;
  background-color: white;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: pc;
  animation-name: pc;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes pc {
  0% {
    top: 6px;
    height: 100px; }
  100% {
    top: 106px;
    height: 0px; } }

@keyframes pc {
  0% {
    top: 6px;
    height: 100px; }
  100% {
    top: 106px;
    height: 0px; } }

/*------3-БЛОК----*/
.work-block {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-top: 68px;
  /*--заголовок и текст--*/
  /*--обертка стрелок глереи--*/
  /*-----стрелки-галереи-----*/
  /*------контейнер-с-галереей------*/
  /*--ПАГИНАЦИЯ--*/ }
  .work-block::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #3a4574; }
  .work-block__head {
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: auto; }
  .work-block__content-text {
    width: 80%; }
  .work-block__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: white; }
  .work-block__text {
    margin-top: 25px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: white;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .work-block__nav {
    width: 20%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px; }
  .work-block__arrow {
    position: static !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-top: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .work-block .swiper-button-prev::after,
  .work-block .work-block__nav .swiper-button-next::after {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    font-size: 74px;
    color: #b4977b;
    padding: 5px; }
  .work-block .work-block__nav .swiper-button-prev:hover::after,
  .work-block .work-block__nav .swiper-button-next:hover::after {
    text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
  .work-block__row {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 50px;
    padding-top: 70px;
    display: block;
    z-index: 30;
    position: relative;
    overflow: hidden;
    min-width: 0; }
  .work-block__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #b4977b;
    overflow: hidden; }
    .work-block__photo img {
      width: 100%;
      height: 100%; }
  .work-block .swiper-pagination {
    position: static;
    margin: 60px auto 30px;
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .work-block .swiper-pagination .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      margin: 0 10px !important;
      line-height: 30px; }

.swiper-pagination-bullet {
  background-color: #b4977b !important;
  opacity: 0.5 !important; }

.swiper-pagination-bullet-active {
  background-color: #3a4574 !important;
  opacity: 1 !important; }

/*------4-БЛОК----*/
.reviews-block {
  width: 100%;
  /*--заголовок*/
  /*----КНОПКА---*/ }
  .reviews-block__container {
    position: relative;
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 50px 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px; }
  .reviews-block__title {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .reviews-block__subtitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .reviews-block__review {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column; }
  .reviews-block__btn {
    width: 380px;
    height: 100px;
    margin: 25px auto 0px;
    background-color: #3a4574;
    border: 2px solid #3a4574; }
    .reviews-block__btn .wave-btn {
      width: 100%;
      height: 100%;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .reviews-block__btn .wave-btn:hover {
        -webkit-box-shadow: 0 0 10px 1px #b4977b;
        box-shadow: 0 0 10px 1px #b4977b; }
      .reviews-block__btn .wave-btn:hover .wave-btn__text {
        color: #3a4574;
        text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
      .reviews-block__btn .wave-btn__text {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .reviews-block__btn .wave-btn__waves {
        width: 280px;
        height: 280px;
        /**/
        -webkit-transition: all 4.3s ease 0s;
        -o-transition: all 4.3s ease 0s;
        transition: all 4.3s ease 0s; }
        .reviews-block__btn .wave-btn__waves:after {
          background-color: #b4977b;
          -webkit-animation: waves 4s infinite linear;
          animation: waves 4s infinite linear; }
        .reviews-block__btn .wave-btn__waves::before {
          background-color: rgba(211, 180, 127, 0.566);
          -webkit-animation: waves 6s infinite linear;
          animation: waves 6s infinite linear; }

.review {
  position: relative;
  padding: 10px 0px 20px;
  gap: 20px; }
  .review__img {
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #3a4574;
    border-radius: 50%;
    overflow: hidden; }
    .review__img img {
      width: 100%;
      height: 100%; }
  .review__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .review::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 3%;
    width: 35%;
    height: 4px;
    background-color: #b4977b; }

/*------5-БЛОК----*/
.form-block {
  width: 100%;
  background-color: #cccccc;
  /*----ФОРМА-ОТПРАВКИ-НА СТРАНИЦЕ----*/
  /*----КНОПКА---*/
  /*---ОКНО-СООБЩЕНИЯ-ВАЛИДАЦИИ---*/
  /*----------------------------*/
  /*----ТЕКСТОВЫЙ-БЛОК----*/
  /*---БЕГУЩАЯ-СТРОКА--*/ }
  .form-block__container {
    position: relative;
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4%; }
  .form-block__form {
    position: relative;
    z-index: 1;
    width: 48%;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'name phone' 'comment-form comment-form' 'btn-form btn-form';
    -ms-grid-columns: 1fr 19px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: max-content 10px max-content 10px max-content;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    row-gap: 10px;
    -webkit-column-gap: 19px;
    column-gap: 19px; }
    .form-block__form label {
      font-size: 24px;
      font-weight: 300;
      line-height: 24px;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      display: -ms-grid;
      display: grid; }
      .form-block__form label input {
        width: 100%;
        height: 80px;
        margin-top: 4px;
        border: 1px solid #cccccc;
        padding: 28px 16px; }
        .form-block__form label input:hover {
          border-color: #b4977b; }
        .form-block__form label input:focus {
          border-color: #3a4574; }
      .form-block__form label textarea {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-top: 4px;
        border: 1px solid #cccccc;
        padding: 28px 16px;
        resize: none; }
        .form-block__form label textarea:hover {
          border-color: #b4977b; }
        .form-block__form label textarea:focus {
          border-color: #3a4574; }
  .form-block__btn {
    width: 330px;
    height: 80px;
    margin: 10px auto 0px;
    background-color: #3a4574;
    border: 2px solid #3a4574; }
    .form-block__btn .wave-btn {
      width: 100%;
      height: 100%;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .form-block__btn .wave-btn:hover {
        -webkit-box-shadow: 0 0 10px 1px #b4977b;
        box-shadow: 0 0 10px 1px #b4977b; }
      .form-block__btn .wave-btn:hover .wave-btn__text {
        color: #3a4574;
        text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
      .form-block__btn .wave-btn__text {
        font-size: 27px;
        font-weight: 700;
        line-height: 30px;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .form-block__btn .wave-btn__waves {
        width: 280px;
        height: 280px;
        /**/
        -webkit-transition: all 4.3s ease 0s;
        -o-transition: all 4.3s ease 0s;
        transition: all 4.3s ease 0s; }
        .form-block__btn .wave-btn__waves:after {
          background-color: #b4977b;
          -webkit-animation: waves 4s infinite linear;
          animation: waves 4s infinite linear; }
        .form-block__btn .wave-btn__waves::before {
          background-color: rgba(211, 180, 127, 0.566);
          -webkit-animation: waves 6s infinite linear;
          animation: waves 6s infinite linear; }
  .form-block__massage-err {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 24px;
    margin-top: 10px;
    text-align: center; }
  .form-block__text-block {
    width: 48%;
    display: -ms-grid;
    display: grid;
    padding: 30px 0px;
    gap: 40px;
    -ms-grid-rows: -webkit-max-content -webkit-max-content 250px;
    -ms-grid-rows: max-content max-content 250px;
    grid-template-rows: -webkit-max-content -webkit-max-content 250px;
    grid-template-rows: max-content max-content 250px; }
  .form-block__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .form-block__subtitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .form-block__string {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    overflow: hidden; }
  .form-block__marquee {
    height: 50%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: string 8s infinite linear;
    animation: string 8s infinite linear; }

@keyframes string {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: -75%; } }
    .form-block__marquee img {
      width: 250px;
      height: 100%; }

.form-block__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name; }

.form-block__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: phone; }

.form-block__comment {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: comment-form; }

.form-block__btn {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn-form;
  background-color: #3a4574; }

/*------FOOTER----*/
.footer {
  background-color: #3a4574;
  color: white;
  /*---social-block--*/
  /*--info-block--*/
  /*--agreement--*/ }
  .footer__container {
    position: relative;
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 50px 0;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'contact nav info' 'agreement agreement agreement';
    -ms-grid-columns: 1fr 15px 1.5fr 15px 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
    -ms-grid-rows: max-content 20px max-content;
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
    -webkit-column-gap: 15px;
    column-gap: 15px;
    row-gap: 20px; }
  .footer__contacts, .footer__info {
    display: -ms-grid;
    display: grid;
    gap: 20px; }
    .footer__contacts p, .footer__info p {
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
      align-content: center;
      font-size: 160%;
      font-weight: 300;
      line-height: 100%;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
  .footer__contacts {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contact;
    text-align: start; }
  .footer__title {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 200%;
    font-weight: 700;
    line-height: 100%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .footer__title-info {
    text-align: end; }
  .footer__social-block {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: nav;
    display: -ms-grid;
    display: grid;
    gap: 30px; }
  .footer__logo {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .footer__logo img {
      width: 100%;
      height: auto; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-filter: invert(38%) sepia(3.5%) saturate(3125%) hue-rotate(349deg) brightness(110%) contrast(86%);
    filter: invert(38%) sepia(3.5%) saturate(3125%) hue-rotate(349deg) brightness(110%) contrast(86%); }
    .footer__link img {
      width: 100%;
      height: 100%; }
    .footer__link:hover {
      -webkit-filter: unset;
      filter: unset;
      -webkit-box-shadow: 0 0 30px 2px #b4977b, 0 0 15px 2px #b4977b inset;
      box-shadow: 0 0 30px 2px #b4977b, 0 0 15px 2px #b4977b inset; }
  .footer__copyright {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #b4977b; }
  .footer__info {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: info;
    text-align: end; }
  .footer__agreement {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: agreement;
    font-size: 10px;
    font-weight: 200;
    line-height: 12px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: gray;
    text-align: center; }
