@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

/*-----*/
.wave-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 15;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  /*------ТЕКСТ КНОПКИ--------*/
  /*---------ВОЛНЫ-------*/ }
  .wave-btn:hover {
    -webkit-box-shadow: 0 0 40px #b4977b;
    box-shadow: 0 0 40px #b4977b;
    /**/
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
  .wave-btn__text {
    position: relative;
    z-index: 1;
    text-align: center;
    /**/
    -webkit-transition: all 5s ease 0s;
    -o-transition: all 5s ease 0s;
    transition: all 5s ease 0s; }
  .wave-btn__waves {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    /**/ }
    .wave-btn__waves:after, .wave-btn__waves::before {
      content: '';
      position: absolute;
      top: 0%;
      width: 40vw;
      height: 40vw;
      -webkit-transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1);
      transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1); }
    .wave-btn__waves:after {
      left: 42%;
      border-radius: 44%;
      -webkit-animation: waves 4s infinite linear;
      animation: waves 4s infinite linear; }
    .wave-btn__waves::before {
      left: 58%;
      border-radius: 42%;
      -webkit-animation: waves 6s infinite linear;
      animation: waves 6s infinite linear; }

.wave-btn:hover .wave-btn__waves {
  top: -20vw; }

/*----keyframes HEADER btn-----*/
@-webkit-keyframes wavesHeader {
  0% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1); } }
@keyframes wavesHeader {
  0% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 13%, 0) rotate(360deg) scale(1); } }

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1); } }

@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(0deg) scale(1); }
  100% {
    -webkit-transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, 23%, 0) rotate(360deg) scale(1); } }

/*--Анимация-выделения-кнопки(напоминалка)--*/
.line-btn {
  z-index: -1;
  background-color: #b4977b;
  position: absolute; }

.line-btn-top {
  top: 0;
  left: 0%;
  width: 0%;
  height: 1%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-top.active {
  -webkit-animation: line-top 1s 1;
  animation: line-top 1s 1; }

.line-btn-right {
  top: 0%;
  right: 0%;
  width: 0.5%;
  height: 0%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-right.active {
  -webkit-animation: line-right 1s 0.2s 1;
  animation: line-right 1s 0.2s 1; }

.line-btn-bottom {
  bottom: 0%;
  right: 0%;
  width: 0%;
  height: 1%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-bottom.active {
  -webkit-animation: line-bottom 1s 0.4s 1;
  animation: line-bottom 1s 0.4s 1; }

.line-btn-left {
  bottom: 0%;
  left: 0%;
  width: 0.5%;
  height: 0%;
  -webkit-box-shadow: 0 0 20px 7px #b4977b;
  box-shadow: 0 0 20px 7px #b4977b;
  opacity: 0; }

.line-btn-left.active {
  -webkit-animation: line-left 1s 0.7s 1;
  animation: line-left 1s 0.7s 1; }

@-webkit-keyframes line-top {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    left: unset;
    right: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    left: unset;
    right: 0%;
    opacity: 1; } }

@keyframes line-top {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    left: unset;
    right: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    left: unset;
    right: 0%;
    opacity: 1; } }

@-webkit-keyframes line-bottom {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    right: unset;
    left: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    right: unset;
    left: 0%;
    opacity: 1; } }

@keyframes line-bottom {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  80% {
    width: 100%;
    right: unset;
    left: 0%;
    opacity: 1; }
  100% {
    width: 0%;
    right: unset;
    left: 0%;
    opacity: 1; } }

@-webkit-keyframes line-right {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    top: unset;
    bottom: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    top: unset;
    bottom: 0%;
    opacity: 1; } }

@keyframes line-right {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    top: unset;
    bottom: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    top: unset;
    bottom: 0%;
    opacity: 1; } }

@-webkit-keyframes line-left {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    bottom: unset;
    top: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    bottom: unset;
    top: 0%;
    opacity: 1; } }

@keyframes line-left {
  0% {
    height: 0%;
    opacity: 1; }
  40% {
    height: 100%;
    opacity: 1; }
  80% {
    height: 100%;
    bottom: unset;
    top: 0%;
    opacity: 1; }
  100% {
    height: 0%;
    bottom: unset;
    top: 0%;
    opacity: 1; } }

/*---------------------*/
/*---скролл-бар---*/
body::-webkit-scrollbar,
.policy-popup__container::-webkit-scrollbar {
  width: 8px; }

body::-webkit-scrollbar-track,
.policy-popup__container::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.472); }

body::-webkit-scrollbar-thumb,
.policy-popup__container::-webkit-scrollbar-thumb {
  background-color: #b4977b;
  border-radius: 10px; }

/*-----общие-стили----*/
h1 {
  position: absolute;
  z-index: -100;
  opacity: 0; }

.btn-blue {
  position: relative; }

.active-popup {
  z-index: 150 !important;
  opacity: 1 !important;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.hidden {
  overflow: hidden; }

/*-----ИМПОРТИРУЕМЫЕ-СТИЛИ----*/
/*-----HEADER---*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*---*/
  /*----КНОПКА---*/ }
  .header__container {
    width: 85%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__phone-container {
    max-width: 30vw;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__phone-img {
    width: auto;
    height: 100%; }
  .header__phone {
    font-size: 1.6vw;
    font-weight: 600;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: white;
    letter-spacing: 2px; }
  .header__logo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .header__logo img {
      width: 15vw;
      height: auto; }
  .header__btn {
    max-width: 30vw; }
    .header__btn .wave-btn {
      width: 100%;
      height: 100%;
      border: 5px solid white;
      border-radius: 5px;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .header__btn .wave-btn:hover {
        border: 5px solid #b4977b; }
      .header__btn .wave-btn:hover .wave-btn__text {
        color: black; }
      .header__btn .wave-btn__text {
        padding: 10px 30px;
        font-size: 1.6vw;
        font-weight: 600;
        line-height: 120%;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .header__btn .wave-btn__waves {
        -webkit-transition: all 5s ease 0s;
        -o-transition: all 5s ease 0s;
        transition: all 5s ease 0s; }
        .header__btn .wave-btn__waves:after {
          background-color: white;
          -webkit-animation: wavesHeader 4s infinite linear;
          animation: wavesHeader 4s infinite linear; }
        .header__btn .wave-btn__waves::before {
          background-color: rgba(255, 255, 255, 0.6);
          -webkit-animation: wavesHeader 6s infinite linear;
          animation: wavesHeader 6s infinite linear; }

/*----MEDIA----*/
@media (max-width: 1600px) {
  .header {
    /*----КНОПКА---*/ }
    .header__phone-container {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content; }
    .header__phone-img {
      width: auto;
      height: 50px; }
    .header__phone {
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .header__logo img {
      width: auto;
      height: 100px; }
    .header__btn {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content; }
      .header__btn .wave-btn {
        /*------ТЕКСТ КНОПКИ--------*/ }
        .header__btn .wave-btn__text {
          padding: 10px 15px;
          font-size: 20px;
          font-weight: 700;
          line-height: 22px;
          font-style: normal;
          font-family: "Open Sans", sans-serif; } }

@media (max-width: 1024px) {
  .header {
    padding: 10px 0px;
    /*---*/
    /*----КНОПКА---*/ }
    .header__container {
      width: 95%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content; }
    .header__phone {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .header__logo img {
      width: auto;
      height: 90px; }
    .header__btn .wave-btn {
      border: 3px solid white;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .header__btn .wave-btn:hover {
        border: 3px solid #b4977b; }
      .header__btn .wave-btn__text {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        font-style: normal;
        font-family: "Open Sans", sans-serif; }
      .header__btn .wave-btn__waves {
        -webkit-transition: all 4s ease 0s;
        -o-transition: all 4s ease 0s;
        transition: all 4s ease 0s; } }

@media (max-width: 768px) {
  .header {
    padding: 10px 0px;
    /*----КНОПКА---*/ }
    .header__phone-img {
      width: auto;
      height: 20px; }
    .header__phone {
      font-size: 11px;
      font-weight: 700;
      line-height: 11px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .header__logo img {
      width: auto;
      height: 50px; }
    .header__btn .wave-btn {
      border: 2px solid white;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .header__btn .wave-btn:hover {
        border: 2px solid #b4977b; }
      .header__btn .wave-btn__text {
        padding: 7px 10px 6px;
        font-size: 10px;
        font-weight: 600;
        line-height: 10px;
        font-style: normal;
        font-family: "Open Sans", sans-serif; }
      .header__btn .wave-btn__waves {
        width: 180px;
        height: 180px;
        -webkit-transition: all 5s ease 0s;
        -o-transition: all 5s ease 0s;
        transition: all 5s ease 0s; } }

/*------1-БЛОК----*/
.service-block {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 110% 110%;
  background-position: center;
  background-image: url("../img/bg.jpg");
  /*--контейнер с контентом--*/
  /*--заголовок--*/
  /*--подзаголовок--*/
  /* The typing effect */
  /* The typewriter cursor effect */
  /*----КНОПКА---*/ }
  .service-block::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65); }
  .service-block__container {
    position: relative;
    z-index: 5;
    width: 85%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 150px 0 150px;
    color: white; }
  .service-block__title {
    margin-top: 10px;
    font-size: 4vw;
    font-weight: 900;
    line-height: 300%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .service-block__subtitle {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0px 0px 90px;
    font-size: 3.4vw;
    font-weight: 500;
    line-height: 170%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    overflow: hidden;
    border-right: 4px solid #b4977b;
    white-space: nowrap;
    -webkit-animation: typing 15s steps(30, end) infinite, blink-caret 1.2s step-end infinite;
    animation: typing 15s steps(30, end) infinite, blink-caret 1.2s step-end infinite; }

@-webkit-keyframes typing {
  0% {
    width: 0; }
  20% {
    width: 100%; }
  100% {
    width: 100%; } }

@keyframes typing {
  0% {
    width: 0; }
  20% {
    width: 100%; }
  100% {
    width: 100%; } }

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #b4977b; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #b4977b; } }
  .service-block__btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .service-block__btn {
    width: 22vw;
    height: 7vw;
    background-color: #3a4574;
    border: 2px solid #3a4574; }
    .service-block__btn .wave-btn {
      width: 100%;
      height: 100%;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .service-block__btn .wave-btn:hover {
        -webkit-box-shadow: 0 0 10px 1px #b4977b;
        box-shadow: 0 0 10px 1px #b4977b; }
      .service-block__btn .wave-btn:hover .wave-btn__text {
        color: #3a4574;
        text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
      .service-block__btn .wave-btn__text {
        font-size: 1.8vw;
        font-weight: 700;
        line-height: 120%;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .service-block__btn .wave-btn__waves {
        width: 280px;
        height: 280px;
        /**/
        -webkit-transition: all 4.3s ease 0s;
        -o-transition: all 4.3s ease 0s;
        transition: all 4.3s ease 0s; }
        .service-block__btn .wave-btn__waves:after {
          background-color: #b4977b;
          -webkit-animation: waves 4s infinite linear;
          animation: waves 4s infinite linear; }
        .service-block__btn .wave-btn__waves::before {
          background-color: rgba(211, 180, 127, 0.566);
          -webkit-animation: waves 6s infinite linear;
          animation: waves 6s infinite linear; }
  .service-block__social-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px; }
  .service-block__link {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 4vw;
    height: 4vw;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    color: white; }
    .service-block__link:hover {
      -webkit-box-shadow: 0 0 15px 5px rgba(211, 180, 127, 0.566);
      box-shadow: 0 0 15px 5px rgba(211, 180, 127, 0.566);
      background-color: rgba(211, 180, 127, 0.566); }
  .service-block__wp {
    background-image: url("../img/wp1.svg"); }
  .service-block__tg {
    background-image: url("../img/tg.svg"); }
  .service-block__vk {
    background-image: url("../img/vk.svg"); }

/*----MEDIA----*/
@media (max-width: 1600px) {
  .service-block {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    /*----КНОПКА---*/ }
    .service-block__btn {
      width: 300px;
      height: 80px; }
      .service-block__btn .wave-btn {
        /*------ТЕКСТ КНОПКИ--------*/ }
        .service-block__btn .wave-btn__text {
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          font-style: normal;
          font-family: "Open Sans", sans-serif; }
    .service-block__social-group {
      gap: 40px; }
    .service-block__link {
      width: 60px;
      height: 60px; } }

@media (max-width: 1024px) {
  .service-block {
    /*--контейнер с контентом--*/
    /*--заголовок--*/
    /*--подзаголовок--*/
    /*----КНОПКА---*/ }
    .service-block__container {
      width: 95%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      padding: 100px 0 50px; }
    .service-block__title {
      margin-top: 0px;
      font-size: 4vw;
      font-weight: 900;
      line-height: 300%;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .service-block__subtitle {
      margin: 10px 0px 70px;
      font-size: 3.4vw;
      font-weight: 500;
      line-height: 170%;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .service-block__btn {
      width: 280px;
      height: 70px; }
      .service-block__btn .wave-btn {
        /*------ТЕКСТ КНОПКИ--------*/
        /*---------ВОЛНЫ-------*/ }
        .service-block__btn .wave-btn__text {
          font-size: 22px;
          font-weight: 700;
          line-height: 22px;
          font-style: normal;
          font-family: "Open Sans", sans-serif; }
        .service-block__btn .wave-btn__waves {
          -webkit-transition: all 3s ease 0s;
          -o-transition: all 3s ease 0s;
          transition: all 3s ease 0s; }
    .service-block__link {
      width: 50px;
      height: 50px; } }

/*
 .service-block {
    //--контейнер с контентом--
    &__container {
      @include wiHe(85%, max-content);
      padding: 150px 0 50px;
    }
    //--заголовок--
    &__title {
      margin-top: 50px;
      @include fontSize(84px, 94px, 900);
    }
    //--подзаголовок--
    &__subtitle {
      margin: 70px 0px 110px;
      @include fontSize(66px, 80px, 500);
    }
    //обертка кнопок
    &__btn-group {
      @include flexSpBeCent;
    }
    //----КНОПКА---
    &__btn {
      @include wiHe(400px, 130px);
      .wave-btn {
        //------ТЕКСТ КНОПКИ------
        &__text {
          @include fontSize(30px, 30px, 700);
        }
        //---------ВОЛНЫ---
        &__waves {
          @include wiHe(280px, 280px);
          transition: all 4.3s ease 0s;
        }
      }
    }
    //група ссылок на соц сети
    &__social-group {
      gap: 60px;
    }
    //ссылки на соц сети
    &__link {
      @include wiHe(70px, 70px);
    }
  }
  */
/*------2-БЛОК----*/
.advantages-block {
  width: 100%;
  background-color: white;
  /*--заголовок*/
  /*--изображение--*/
  /*--карточки--*/ }
  .advantages-block__container {
    position: relative;
    width: 85%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 50px 0;
    padding-top: 100px;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'card-1 title card-2' 'card-3 img card-4';
    -ms-grid-columns: 30% 1fr 30%;
    grid-template-columns: 30% 1fr 30%;
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px; }
  .advantages-block__title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    width: 96%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    top: -60px;
    left: 2%;
    text-align: center;
    font-size: 3.6vw;
    font-weight: 900;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .advantages-block__people-img {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    height: 100%;
    grid-area: img;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: -50px; }
    .advantages-block__people-img img {
      width: 90%;
      margin: auto; }
  .advantages-block__card {
    width: 100%;
    height: 100%;
    border: 2px dashed #b4977b; }

/*---КАРТОЧКИ ПРИЕМУЩЕСТВ--*/
.card-advantages {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-rows: max-content max-content max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content;
  padding: 20px 10px;
  overflow: hidden;
  -webkit-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
  gap: 10px; }
  .card-advantages__img {
    width: 100%;
    height: 100%;
    height: 100px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 90%;
    grid-template-columns: 90%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%; }
  .card-advantages__title {
    text-align: center;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    margin: 5px 0 2px; }
  .card-advantages__text {
    text-align: center;
    font-size: 1.2vw;
    font-weight: 700;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.card-advantages-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-1; }

.card-advantages-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card-2; }

.card-advantages-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card-3; }

.card-advantages-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: card-4; }

/*----Изображения в карточках--*/
.quality {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .quality img {
    position: relative;
    top: 5%;
    left: unset;
    width: auto;
    height: 90%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: quality;
    animation-name: quality;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

@-webkit-keyframes quality {
  0% {
    height: 120%;
    top: -150%;
    left: -150%;
    opacity: 0.3; }
  40% {
    height: 110%;
    top: 10%;
    left: -50px;
    opacity: 0.3; }
  60% {
    height: 100%;
    left: 0;
    top: 5%;
    opacity: 0.3; }
  100% {
    height: 90%;
    left: unset;
    top: 5%;
    opacity: 1; } }

@keyframes quality {
  0% {
    height: 120%;
    top: -150%;
    left: -150%;
    opacity: 0.3; }
  40% {
    height: 110%;
    top: 10%;
    left: -50px;
    opacity: 0.3; }
  60% {
    height: 100%;
    left: 0;
    top: 5%;
    opacity: 0.3; }
  100% {
    height: 90%;
    left: unset;
    top: 5%;
    opacity: 1; } }

.money {
  position: absolute;
  z-index: 1;
  width: auto;
  height: 20%;
  left: 50%;
  top: -200px;
  margin-left: -38px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: money;
  animation-name: money;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.wallet {
  position: relative;
  z-index: 5;
  width: auto;
  height: 90%;
  margin: 0px auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: white; }

@-webkit-keyframes money {
  0% {
    top: -300px;
    opacity: 0; }
  1% {
    top: -300px;
    opacity: 1; }
  99% {
    top: 50%;
    opacity: 1; }
  100% {
    top: 50%;
    opacity: 0; } }

@keyframes money {
  0% {
    top: -300px;
    opacity: 0; }
  1% {
    top: -300px;
    opacity: 1; }
  99% {
    top: 50%;
    opacity: 1; }
  100% {
    top: 50%;
    opacity: 0; } }

.fast {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center; }
  .fast img {
    position: relative;
    z-index: 5;
    width: auto;
    height: 60%; }
  .fast::after, .fast::before {
    content: '∗';
    position: absolute;
    height: 28%;
    font-size: 550%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    color: #3a4574;
    bottom: 17.8%;
    left: 50%;
    -webkit-animation: wheel 0.6s infinite linear;
    animation: wheel 0.6s infinite linear; }
  .fast::before {
    margin-left: -102.25px; }
  .fast::after {
    margin-left: 38.4px; }

@-webkit-keyframes wheel {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@keyframes wheel {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

.line-fast {
  position: absolute;
  height: 3px;
  background-color: #b4977b; }

.line-fast-1 {
  width: 30px;
  top: 5%;
  -webkit-animation: lineFast 1.2s infinite linear;
  animation: lineFast 1.2s infinite linear; }

.line-fast-2 {
  top: 20%;
  width: 40px;
  -webkit-animation: lineFast 1.5s infinite linear;
  animation: lineFast 1.5s infinite linear; }

@-webkit-keyframes lineFast {
  0% {
    left: 150%; }
  100% {
    left: -150%; } }

@keyframes lineFast {
  0% {
    left: 150%; }
  100% {
    left: -150%; } }

.card-advantages__string {
  position: absolute;
  z-index: 1;
  left: -100%;
  bottom: -25%;
  width: 500%;
  height: 25%;
  overflow: hidden; }

.card-advantages__marquee {
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: string 1.3s infinite linear;
  animation: string 1.3s infinite linear;
  background-color: #3a4574; }

@-webkit-keyframes string {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: -65%; } }

@keyframes string {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: -65%; } }
  .card-advantages__marquee .road {
    width: 300px;
    height: 100%;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    background: #cccccc;
    margin: 0px 0.3px; }

.computer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .computer img {
    width: auto;
    height: 100%; }
  .computer::after {
    content: '';
    z-index: 10;
    position: absolute;
    bottom: 31%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 60%;
    background-color: white;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-name: pc;
    animation-name: pc;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

@-webkit-keyframes pc {
  0% {
    height: 60%; }
  100% {
    height: 0%; } }

@keyframes pc {
  0% {
    height: 60%; }
  100% {
    height: 0%; } }

/*----MEDIA----*/
@media (max-width: 1600px) {
  .advantages-block__container {
    padding-top: 50px;
    grid-template-areas: 'title title title' 'card-1 img card-2' 'card-3 img card-4';
    -ms-grid-columns: 35% 1fr 35%;
    grid-template-columns: 35% 1fr 35%;
    -ms-grid-rows: max-content 20px 1fr 20px 1fr;
    grid-template-rows: -webkit-max-content 1fr 1fr;
    grid-template-rows: max-content 1fr 1fr;
    row-gap: 20px; }
  .advantages-block__title {
    width: 100%;
    top: unset;
    left: unset;
    font-size: 3.6vw;
    font-weight: 900;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .advantages-block__people-img {
    margin-top: 0px; }
    .advantages-block__people-img img {
      width: 90%;
      margin: auto; }
  .advantages-block__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
  .advantages-block__people-img {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2; }
  .card-advantages-1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .card-advantages-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3; }
  .card-advantages-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1; }
  .card-advantages-4 {
    -ms-grid-row: 5;
    -ms-grid-column: 3; } }

/*------3-БЛОК----*/
.work-block {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-top: 68px;
  background-color: white;
  /*--заголовок и текст--*/
  /*--обертка стрелок глереи--*/
  /*-----стрелки-галереи-----*/
  /*------контейнер-с-галереей------*/
  /*--ПАГИНАЦИЯ--*/ }
  .work-block::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #3a4574; }
  .work-block__head {
    width: 85%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: auto; }
  .work-block__content-text {
    width: 80%; }
  .work-block__title {
    font-size: 3.6vw;
    font-weight: 900;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: white; }
  .work-block__text {
    margin-top: 40px;
    font-size: 1.6vw;
    font-weight: 600;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: white;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .work-block__nav {
    width: 20%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3vw; }
  .work-block__arrow {
    position: static !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-top: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .work-block .swiper-button-prev::after,
  .work-block .work-block__nav .swiper-button-next::after {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    font-size: 4.5vw;
    color: #b4977b;
    padding: 5px; }
  .work-block .work-block__nav .swiper-button-prev:hover::after,
  .work-block .work-block__nav .swiper-button-next:hover::after {
    text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
  .work-block__row {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 50px;
    padding-top: 70px;
    display: block;
    z-index: 30;
    position: relative;
    overflow: hidden;
    min-width: 0; }
  .work-block__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #b4977b;
    overflow: hidden; }
    .work-block__photo img {
      width: 100%;
      height: 100%; }
  .work-block .swiper-pagination {
    position: static;
    margin: 60px auto 30px;
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .work-block .swiper-pagination .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      margin: 0 10px !important;
      line-height: 30px; }

.swiper-pagination-bullet {
  background-color: #b4977b !important;
  opacity: 0.5 !important; }

.swiper-pagination-bullet-active {
  background-color: #3a4574 !important;
  opacity: 1 !important; }

/*----MEDIA----*/
@media (max-width: 1600px) {
  .work-block {
    padding-top: 50px;
    /*--заголовок и текст--*/
    /*--обертка стрелок глереи--*/
    /*-----стрелки-галереи-----*/
    /*------контейнер-с-галереей------*/
    /*--ПАГИНАЦИЯ--*/ }
    .work-block__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .work-block .swiper-button-prev::after,
    .work-block .work-block__nav .swiper-button-next::after {
      font-size: 54px; }
    .work-block__row {
      margin-top: 0px;
      padding-top: 50px; }
    .work-block .swiper-pagination {
      margin: 30px auto; }
      .work-block .swiper-pagination .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        margin: 0 10px !important;
        line-height: 30px; } }

/*------4-БЛОК----*/
.reviews-block {
  width: 100%;
  margin-top: -2px;
  background-color: white;
  /*--заголовок*/
  /*----КНОПКА---*/ }
  .reviews-block__container {
    position: relative;
    width: 85%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px; }
  .reviews-block__title {
    width: 100%;
    text-align: center;
    font-size: 3.6vw;
    font-weight: 900;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .reviews-block__subtitle {
    font-size: 1.6vw;
    font-weight: 600;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .reviews-block__review {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    opacity: 0;
    -webkit-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s; }
  .reviews-block__btn {
    width: 20vw;
    height: 5vw;
    margin: 25px auto 0px;
    background-color: #3a4574;
    border: 2px solid #3a4574; }
    .reviews-block__btn .wave-btn {
      width: 100%;
      height: 100%;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .reviews-block__btn .wave-btn:hover {
        -webkit-box-shadow: 0 0 10px 1px #b4977b;
        box-shadow: 0 0 10px 1px #b4977b; }
      .reviews-block__btn .wave-btn:hover .wave-btn__text {
        color: #3a4574;
        text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
      .reviews-block__btn .wave-btn__text {
        font-size: 1.6vw;
        font-weight: 700;
        line-height: 120%;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .reviews-block__btn .wave-btn__waves {
        width: 280px;
        height: 280px;
        /**/
        -webkit-transition: all 4.3s ease 0s;
        -o-transition: all 4.3s ease 0s;
        transition: all 4.3s ease 0s; }
        .reviews-block__btn .wave-btn__waves:after {
          background-color: #b4977b;
          -webkit-animation: waves 4s infinite linear;
          animation: waves 4s infinite linear; }
        .reviews-block__btn .wave-btn__waves::before {
          background-color: rgba(211, 180, 127, 0.566);
          -webkit-animation: waves 6s infinite linear;
          animation: waves 6s infinite linear; }

.review {
  position: relative;
  padding: 10px 0px 20px;
  gap: 20px; }
  .review__img {
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #3a4574;
    border-radius: 50%;
    overflow: hidden; }
    .review__img img {
      width: 100%;
      height: 100%; }
  .review__text {
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .review::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 2.5%;
    width: 30%;
    height: 4px;
    background-color: #b4977b; }

/*----MEDIA----*/
@media (max-width: 1600px) {
  .reviews-block {
    /*--заголовок*/
    /*----КНОПКА---*/ }
    .reviews-block__subtitle {
      font-size: 1.8vw;
      font-weight: 600;
      line-height: 120%;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
    .reviews-block__btn .wave-btn {
      /*------ТЕКСТ КНОПКИ--------*/ }
  .review__img {
    width: 70px;
    height: 70px; }
  .review__text {
    font-size: 120%;
    font-weight: 500;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .review::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 2.5%;
    width: 30%;
    height: 4px;
    background-color: #b4977b; } }

/*------5-БЛОК----*/
.form-block {
  width: 100%;
  background-color: #cccccc;
  /*----ФОРМА-ОТПРАВКИ-НА СТРАНИЦЕ----*/
  /*----чекбокс--*/
  /*----КНОПКА---*/
  /*---ОКНО-СООБЩЕНИЯ-ВАЛИДАЦИИ---*/
  /*----------------------------*/
  /*----ТЕКСТОВЫЙ-БЛОК----*/
  /*---БЕГУЩАЯ-СТРОКА--*/ }
  .form-block__container {
    position: relative;
    width: 85%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 50px 0;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: -webkit-max-content;
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    gap: 4%; }
  .form-block__form {
    position: relative;
    z-index: 1;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'name phone' 'comment-form comment-form' 'form-item form-item' 'btn-form btn-form';
    -ms-grid-columns: 1fr 19px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: max-content 10px max-content 10px max-content 10px max-content;
    grid-template-rows: repeat(4, -webkit-max-content);
    grid-template-rows: repeat(4, max-content);
    row-gap: 10px;
    -webkit-column-gap: 19px;
    column-gap: 19px; }
    .form-block__form label {
      font-size: 1.4vw;
      font-weight: 500;
      line-height: 120%;
      font-style: normal;
      font-family: "Open Sans", sans-serif;
      display: -ms-grid;
      display: grid; }
      .form-block__form label input {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin-top: 4px;
        border: 1px solid #cccccc;
        padding: 15px 10px;
        font-size: 1.2vw;
        font-weight: 400;
        line-height: 120%;
        font-style: normal;
        font-family: "Open Sans", sans-serif; }
        .form-block__form label input:hover {
          border-color: #b4977b; }
        .form-block__form label input:focus {
          border-color: #3a4574; }
      .form-block__form label textarea {
        width: 100%;
        height: 200px;
        margin-top: 4px;
        border: 1px solid #cccccc;
        padding: 15px 10px;
        font-size: 1.2vw;
        font-weight: 400;
        line-height: 120%;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        resize: none; }
        .form-block__form label textarea:hover {
          border-color: #b4977b; }
        .form-block__form label textarea:focus {
          border-color: #3a4574; }
  .form-block__checkbox {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: form-item; }
  .form-block__checkbox-input {
    display: none; }
  .form-block__checkbox-label {
    position: relative;
    margin-bottom: 25px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    font-size: 1.1vw !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    .form-block__checkbox-label::before {
      content: '';
      -ms-flex-item-align: start;
      align-self: flex-start;
      width: 32px;
      height: 32px;
      background-color: #3a4574;
      border-radius: 4px;
      margin: 0px 10px 0px 0px; }
    .form-block__checkbox-label::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 20px;
      height: 20px;
      background-color: #b4977b;
      border-radius: 4px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s ease 0s;
      transition: -webkit-transform 0.3s ease 0s;
      -o-transition: transform 0.3s ease 0s;
      transition: transform 0.3s ease 0s;
      transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
    .form-block__checkbox-label .btn-popup-policy {
      color: #3a4574; }
  .form-block__checkbox-input:checked + .form-block__checkbox-label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .form-block__btn {
    width: 20vw;
    height: 5vw;
    margin: 10px auto 0px;
    background-color: #3a4574;
    border: 2px solid #3a4574; }
    .form-block__btn .wave-btn {
      width: 100%;
      height: 100%;
      /*------ТЕКСТ КНОПКИ--------*/
      /*---------ВОЛНЫ-------*/ }
      .form-block__btn .wave-btn:hover {
        -webkit-box-shadow: 0 0 10px 1px #b4977b;
        box-shadow: 0 0 10px 1px #b4977b; }
      .form-block__btn .wave-btn:hover .wave-btn__text {
        color: #3a4574;
        text-shadow: 0 -1px 0 white, 0 -1px 0 white, 0 1px 0 white, 0 1px 0 white, -1px 0 0 white, 1px 0 0 white, -1px 0 0 white, 1px 0 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
      .form-block__btn .wave-btn__text {
        font-size: 1.6vw;
        font-weight: 700;
        line-height: 120%;
        font-style: normal;
        font-family: "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase; }
      .form-block__btn .wave-btn__waves {
        width: 280px;
        height: 280px;
        /**/
        -webkit-transition: all 4.3s ease 0s;
        -o-transition: all 4.3s ease 0s;
        transition: all 4.3s ease 0s; }
        .form-block__btn .wave-btn__waves:after {
          background-color: #b4977b;
          -webkit-animation: waves 4s infinite linear;
          animation: waves 4s infinite linear; }
        .form-block__btn .wave-btn__waves::before {
          background-color: rgba(211, 180, 127, 0.566);
          -webkit-animation: waves 6s infinite linear;
          animation: waves 6s infinite linear; }
  .form-block__massage-err {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 22px;
    margin-top: 5px;
    text-align: center;
    color: #9c2e2e; }
  .form-block__text-block {
    width: 100%;
    height: 100% !important;
    display: -ms-grid;
    display: grid;
    padding: 30px 0px;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -ms-grid-rows: (-webkit-max-content)[3];
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content); }
  .form-block__title {
    text-align: center;
    font-size: 3.1vw;
    font-weight: 900;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .form-block__subtitle {
    font-size: 2vw;
    font-weight: 600;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .form-block__string {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow: hidden; }
  .form-block__marquee {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
    .form-block__marquee img {
      margin: 0px 10px;
      width: 300px;
      height: 150px; }

.form-block__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name; }

.form-block__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: phone; }

.form-block__comment {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: comment-form; }

.form-block__btn {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn-form;
  background-color: #3a4574; }

/*----MEDIA----*/
@media (max-width: 1600px) {
  .form-block__form {
    row-gap: 5px; }
  .form-block__checkbox-label::before {
    width: 24px;
    height: 24px; }
  .form-block__checkbox-label::after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px; }
  .form-block__btn {
    width: 300px;
    height: 80px;
    margin: 20px auto 0px; }
    .form-block__btn__text {
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
  .form-block__massage-err {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 20px;
    margin-top: 5px; } }

@media (max-width: 768px) {
  .form-block {
    overflow: hidden; }
    .form-block__title {
      font-size: 3.1vw;
      font-weight: 900;
      line-height: 120%;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .form-block__subtitle {
      font-size: 1.7vw;
      font-weight: 600;
      line-height: 120%;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .form-block__marquee img {
      margin: 0px 10px;
      width: 200px;
      height: 100px; } }

/*------FOOTER----*/
.footer {
  background-color: #3a4574;
  color: white;
  /*---social-block--*/
  /*--info-block--*/
  /*--agreement--*/ }
  .footer__container {
    position: relative;
    width: 85%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 50px 0;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'contact nav info' 'agreement agreement agreement';
    -ms-grid-columns: 1fr 15px 1.5fr 15px 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
    -ms-grid-rows: max-content 20px max-content;
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
    -webkit-column-gap: 15px;
    column-gap: 15px;
    row-gap: 20px; }
  .footer__contacts, .footer__info {
    display: -ms-grid;
    display: grid;
    gap: 20px; }
    .footer__contacts p, .footer__info p {
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
      align-content: center;
      font-size: 1.4vw;
      font-weight: 400;
      line-height: 120%;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
  .footer__contacts {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contact;
    text-align: start; }
  .footer__title {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .footer__title-info {
    text-align: end; }
  .footer__social-block {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: nav;
    display: -ms-grid;
    display: grid;
    gap: 30px; }
  .footer__logo {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer__logo img {
      width: auto;
      height: 140px; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__link {
    width: 3vw;
    height: 3vw;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    -webkit-filter: invert(38%) sepia(3.5%) saturate(3125%) hue-rotate(349deg) brightness(110%) contrast(86%);
    filter: invert(38%) sepia(3.5%) saturate(3125%) hue-rotate(349deg) brightness(110%) contrast(86%); }
    .footer__link img {
      width: 100%;
      height: 100%; }
    .footer__link:hover {
      -webkit-filter: unset;
      filter: unset;
      -webkit-box-shadow: 0 0 30px 2px #b4977b, 0 0 15px 2px #b4977b inset;
      box-shadow: 0 0 30px 2px #b4977b, 0 0 15px 2px #b4977b inset; }
  .footer__copyright {
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #b4977b; }
  .footer__info {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: info;
    text-align: end; }
  .footer__btn-popup:hover {
    cursor: pointer;
    color: #b4977b; }
  .footer__agreement {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: agreement;
    margin-top: 10px;
    font-size: 0.6vw;
    font-weight: 300;
    line-height: 120%;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    color: gray;
    text-align: center; }

/*----MEDIA----*/
@media (max-width: 1600px) {
  .footer {
    /*---social-block--*/
    /*--info-block--*/
    /*--agreement--*/ }
    .footer__container {
      -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      -webkit-column-gap: 10px;
      column-gap: 10px;
      row-gap: 10px;
      padding: 50px 0px 25px; }
    .footer__contacts, .footer__info {
      gap: 10px; }
      .footer__contacts p, .footer__info p {
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        font-style: normal;
        font-family: "Open Sans", sans-serif; }
    .footer__title {
      font-size: 34px;
      font-weight: 700;
      line-height: 34px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .footer__social-block {
      gap: 15px; }
    .footer__logo img {
      width: auto;
      height: 100px; }
    .footer__link {
      width: 40px;
      height: 40px; }
    .footer__copyright {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; }
    .footer__agreement {
      margin-top: 0px;
      font-size: 10px;
      font-weight: 200;
      line-height: 12px;
      font-style: normal;
      font-family: "Open Sans", sans-serif; } }

@media (max-width: 768px) {
  .footer {
    overflow: hidden; } }

/*------popups----*/
.policy-popup {
  z-index: -150;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.5;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }
  .policy-popup__container {
    position: relative;
    top: -200%;
    width: 80%;
    height: 97%;
    padding: 40px 35px;
    background-color: #cccccc;
    overflow-y: scroll;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s; }
  .policy-popup__btn-close {
    position: fixed;
    margin-left: -6%;
    width: 50px;
    height: 50px;
    cursor: pointer; }
    .policy-popup__btn-close::before, .policy-popup__btn-close::after {
      content: '';
      position: absolute;
      top: 48%;
      width: 100%;
      height: 4px;
      background-color: #b4977b; }
    .policy-popup__btn-close::before {
      rotate: 45deg; }
    .policy-popup__btn-close::after {
      rotate: -45deg; }
    .policy-popup__btn-close:hover::after, .policy-popup__btn-close:hover::before {
      background-color: #9c2e2e; }
  .policy-popup__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 58px;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }
  .policy-popup__text {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    font-style: normal;
    font-family: "Open Sans", sans-serif; }

.active-popup .policy-popup__container {
  top: 0% !important;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

/*----MEDIA----*/
.string-block {
  /*------контейнер-с-галереей------*/
  /*  &__container {
        @include wiHe(100%, max-content);
    }*/
  /* &__photo {
        width: 100%;
        border: 1px solid $goldColor;
        img {
            width: 100%;
            height: 100px;
        }
    }*/ }
