@charset "UTF-8";
/*&__questions {
    display: grid;
    width: 678px;
    .questions {
        //заголовок
        &__title {
            @include fontSize;
            margin-bottom: 29px;
        }
        //форма
        &__form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 19px;
            //подпись
            label {
                @include fontSize;
                display: grid;
                //инпуты
                input {
                    @include wiHe(320px, 80px);
                    border: 1px solid $smokeColor;
                    padding: 28px 16px;
                    &:hover {
                        border-color: $goldColor;
                    }
                    &:focus {
                        border-color: $blueColor;
                    }
                }
                //текстовое окно
                textarea {
                    @include wiHe(670px, max-content);
                    border: 1px solid $smokeColor;
                    padding: 28px 16px;
                    &:hover {
                        border-color: $goldColor;
                    }
                    &:focus {
                        border-color: $blueColor;
                    }
                }
            }
        }
        //кнопка отправки формы
        &__btn {
            @include wiHe(270px, 100px);
            @include fontSize;
            background-color: $blueColor;
            &:hover {
                box-shadow: 0 0 10px 1px $goldColor;
                color: $goldColor;
            }
        }
    }
}*/
