//обнуление
@import 'null-style';
//переменные,шаблоны,миксины
@import 'base';
// кнопка с заполнением(анимированная)
@import 'wave-btn';

/*---------------------*/

/*---скролл-бар---*/

body::-webkit-scrollbar,
.policy-popup__container::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track,
.policy-popup__container::-webkit-scrollbar-track {
  background: $smokeColorOpacity;
}

body::-webkit-scrollbar-thumb,
.policy-popup__container::-webkit-scrollbar-thumb {
  background-color: $goldColor;
  border-radius: 10px;
}

/*-----общие-стили----*/

h1 {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

.container {
  position: relative;
  width: 85%;
  height: max-content;
  margin: auto;
  padding: 50px 0px;
}

.title {
  @include fontSize(3.6vw, 120%, 900);
}

.subtitle {
  @include fontSize(1.6vw, 120%, 600);
  hyphens: auto;
}

.btn-blue {
  position: relative;
}

.active-popup {
  z-index: 150 !important;
  opacity: 1 !important;
  transition: all 0.5s ease 0s;
}

.hidden {
  overflow: hidden;
}

.btn-blue-middle {
  position: relative;
  z-index: 1;
  margin: 25px auto 0px;
  @include wiHe(max-content, max-content);
  .wave-btn {
    background-color: $blueColor;
    border: 2px solid $blueColor;
    @include wiHe(max-content, max-content);
    &:hover {
      box-shadow: 0 0 10px 1px $goldColor;
    }
    &:hover .wave-btn__text {
      color: $blueColor;
      @include textShadowWhite;
    }
    /*------ТЕКСТ КНОПКИ--------*/
    &__text {
      padding: 2.2vw 3.2vw;
      @include fontSize(1.6vw, 120%, 700);
      color: $whiteColor;
      text-transform: uppercase;
    }
    /*---------ВОЛНЫ-------*/
    &__waves {
      @include wiHe(280px, 280px);
      /**/
      transition: all 4.3s ease 0s;
      &:after {
        background-color: $goldColor;
        animation: waves 4s infinite linear;
      }
      &::before {
        background-color: $goldColorOpacity;
        animation: waves 6s infinite linear;
      }
    }
  }
}

//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------

/*----MEDIA----*/

/*-----общие-стили----*/

//---1600---
@media (max-width: 1600px) {
  .title {
    @include fontSize(4vw, 120%, 900);
  }
  .subtitle {
    @include fontSize(2.2vw, 130%, 600);
    hyphens: auto;
  }
  .btn-blue-middle {
    margin: 25px auto 0px;
    .wave-btn {
      /*------ТЕКСТ КНОПКИ--------*/
      &__text {
        @include fontSize(1.8vw, 120%, 700);
      }
      /*---------ВОЛНЫ-------*/
      &__waves {
        transition: all 4.3s ease 0s;
      }
    }
  }
}

//------1024---
@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding: 30px 0px !important;
  }
  .subtitle {
    @include fontSize(2.4vw, 130%, 600);
    hyphens: auto;
  }
  .btn-blue-middle {
    margin: 25px auto 0px;
    .wave-btn {
      /*------ТЕКСТ КНОПКИ--------*/
      &__text {
        @include fontSize(2.2vw, 120%, 700);
      }
    }
  }
}

//---768---
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .title {
    @include fontSize(4.5vw, 120%, 900);
  }
  .subtitle {
    @include fontSize(3.2vw, 130%, 500);
    hyphens: auto;
  }
  .btn-blue-middle {
    margin: 15px auto 0px;
    .wave-btn {
      /*------ТЕКСТ КНОПКИ--------*/
      &__text {
        @include fontSize(2.5vw, 120%, 700);
      }
    }
  }
}

//---480---
@media (max-width: 480px) {
}

//---320---
@media (max-width: 320px) {
}

//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------

/*-----ИМПОРТИРУЕМЫЕ-СТИЛИ----*/

/*-----HEADER---*/

@import '01-header';

/*------1-БЛОК----*/

@import '1-service-block';

/*------2-БЛОК----*/

@import '2-advantages-block';

/*------3-БЛОК----*/

@import '3-work-block';

/*------4-БЛОК----*/

@import '4-review-block';

/*------5-БЛОК----*/

@import '5-form-block';

/*------FOOTER----*/

@import '8-footer';

/*------popups----*/

@import '9-policy-popup';
