//обнуление
@import 'null-style';
//переменные,шаблоны,миксины
@import 'base';
// кнопка с заполнением(анимированная)
@import 'wave-btn';

/*---------------------*/

/*---скролл-бар---*/

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: $smokeColorOpacity;
}

body::-webkit-scrollbar-thumb {
  background-color: $goldColor;
  border-radius: 10px;
}

/*-----общие-стили----*/

@mixin content-container {
  position: relative;
  @include wiHe(75%, max-content);
  margin: auto;
  padding: 50px 0;
}

h1 {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

.btn-blue {
  position: relative;
}

/*-----ИМПОРТИРУЕМЫЕ-СТИЛИ----*/

/*-----HEADER---*/

@import '01-header';

/*------1-БЛОК----*/

@import '1-service-block';

/*------2-БЛОК----*/

@import '2-advantages-block';

/*------3-БЛОК----*/

@import '3-work-block';

/*------4-БЛОК----*/

@import '4-review-block';

/*------5-БЛОК----*/

@import '5-form-block';

/*------FOOTER----*/

@import '9-footer';
