.header {
    position: absolute;
    @include leTo;
    z-index: 20;
    @include wiHe(100%, max-content);
    padding: 30px 0px;
    @include flCent;
    /*---*/
    &__container {
        @include wiHe(75%, max-content);
        //   border: 2px solid rgb(0, 255, 4);
        @include flexSpBeCent;
    }
    &__phone-container {
        @include wiHe(280px, 60px);
        @include flexSpBeCent;
    }
    &__phone-img {
        @include wiHe(auto, 100%);
    }
    &__phone {
        @include fontSize(22px, 24px, 700);
        color: $whiteColor;
        letter-spacing: 2px;
    }
    &__logo {
        //border: 2px solid red;
        @include wiHe(620px, 90px);
        max-height: max-content;
        img {
            //border: 2px solid rgb(64, 0, 255);
            @include wiHe;
        }
    }
    /*----КНОПКА---*/
    &__btn {
        @include wiHe(280px, 60px);
        .wave-btn {
            @include wiHe;
            border: 5px solid $whiteColor;
            border-radius: 5px;
            &:hover {
                border: 5px solid $goldColor;
            }
            &:hover .wave-btn__text {
                color: $blackColor;
            }
            /*------ТЕКСТ КНОПКИ--------*/
            &__text {
                @include fontSize(18px, 20px, 700);
                color: $whiteColor;
                text-transform: uppercase;
            }
            /*---------ВОЛНЫ-------*/
            &__waves {
                @include wiHe(280px, 280px);
                transition: all 8s ease 0s;
                &:after {
                    background-color: $whiteColor;
                    animation: wavesHeader 4s infinite linear;
                }
                &::before {
                    background-color: $whiteColorOpacity;
                    animation: wavesHeader 6s infinite linear;
                }
            }
        }
    }
}