.reviews-block {
  width: 100%;
  background-color: $whiteColor;
  &__container {
    @include content-container;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  /*--заголовок*/
  &__title {
    width: 100%;
    text-align: center;
    @include fontSize(48px, 56px, 900);
  }
  &__subtitle {
    @include fontSize(28px, 36px, 700);
    hyphens: auto;
  }
  &__review {
    @include wiHe(100%, max-content);
    display: grid;
    grid-auto-flow: column;
    opacity: 0;
    transition: opacity 1s ease 0s;
  }
  /*----КНОПКА---*/
  &__btn {
    @include wiHe(380px, 100px);
    margin: 25px auto 0px;
    background-color: $blueColor;
    border: 2px solid $blueColor;
    .wave-btn {
      @include wiHe;
      &:hover {
        box-shadow: 0 0 10px 1px $goldColor;
      }
      &:hover .wave-btn__text {
        color: $blueColor;
        @include textShadowWhite;
      }
      /*------ТЕКСТ КНОПКИ--------*/
      &__text {
        @include fontSize(30px, 30px, 700);
        color: $whiteColor;
        text-transform: uppercase;
      }
      /*---------ВОЛНЫ-------*/
      &__waves {
        @include wiHe(280px, 280px);
        /**/
        transition: all 4.3s ease 0s;
        &:after {
          background-color: $goldColor;
          animation: waves 4s infinite linear;
        }
        &::before {
          background-color: $goldColorOpacity;
          animation: waves 6s infinite linear;
        }
      }
    }
  }
}

.review {
  position: relative;
  padding: 10px 0px 20px;
  gap: 20px;
  &__img {
    @include wiHe(70px, 70px);
    @include flCent;
    border: 2px solid $blueColor;
    border-radius: 50%;
    overflow: hidden;
    img {
      @include wiHe;
    }
  }
  &__text {
    @include fontSize(20px, 24px, 500);
    hyphens: auto;
  }
  &::after {
    content: '';
    position: absolute;
    @include leBo(0%, 2.5%);
    @include wiHe(30%, 4px);
    background-color: $goldColor;
  }
}

//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------

/*----MEDIA----*/

@media (max-width: 1600px) {
  .reviews-block {
    /*--заголовок*/
    &__subtitle {
      @include fontSize(24px, 36px, 700);
    }
    /*----КНОПКА---*/
    &__btn {
      @include wiHe(300px, 80px);
      margin: 20px auto 0px;
      .wave-btn {
        /*------ТЕКСТ КНОПКИ--------*/
        &__text {
          @include fontSize(26px, 30px, 700);
        }
        /*---------ВОЛНЫ-------*/
        &__waves {
          @include wiHe(280px, 280px);
        }
      }
    }
  }
}
