.form-block {
    width: 100%;
    background-color: $smokeColor;
    &__container {
        position: relative;
        z-index: 1;
        height: max-content;
        display: grid;
        grid-template-areas: 'name phone title' 'comment-form comment-form subtitle' 'form-item form-item string' 'btn-form btn-form string';
        grid-template-columns: 0.5fr 0.5fr 1fr;
        grid-template-rows: repeat(4, max-content);
        row-gap: 10px;
        column-gap: 10px;
    }
    //----ФОРМА-ОТПРАВКИ-НА СТРАНИЦЕ----
    //подпись
    label {
        @include fontSize(1.4vw, 120%, 500);
        display: grid;
        //инпуты
        input {
            @include wiHe(100%, max-content);
            margin-top: 4px;
            border: 1px solid $smokeColor;
            padding: 15px 10px;
            @include fontSize(1.2vw, 120%, 400);
            &:hover {
                border-color: $goldColor;
            }
            &:focus {
                border-color: $blueColor;
            }
        }
        //текстовое окно
        textarea {
            @include wiHe(100%, 200px);
            margin-top: 4px;
            border: 1px solid $smokeColor;
            padding: 15px 10px;
            @include fontSize(1.2vw, 120%, 400);
            resize: none;
            &:hover {
                border-color: $goldColor;
            }
            &:focus {
                border-color: $blueColor;
            }
        }
    }
    //---чекбокс--
    &__checkbox {
        grid-area: form-item;
    }
    &__checkbox-input {
        display: none;
    }
    &__checkbox-label {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        font-size: 1.1vw !important;
        align-items: center;
        cursor: pointer;
        hyphens: auto;
        &::before {
            content: '';
            align-self: flex-start;
            @include wiHe(32px, 32px);
            background-color: $blueColor;
            border-radius: 4px;
            margin: 0px 10px 0px 0px;
        }
        &::after {
            content: '';
            position: absolute;
            @include leTo(6px, 6px);
            @include wiHe(20px, 20px);
            background-color: $goldColor;
            border-radius: 4px;
            transform: scale(0);
            transition: transform 0.3s ease 0s;
        }
        .btn-popup-policy {
            color: $blueColor;
        }
    }
    &__checkbox-input:checked+&__checkbox-label::after {
        transform: scale(1);
    }
    //---ОКНО-СООБЩЕНИЯ-ВАЛИДАЦИИ---
    &__massage-err {
        @include fontSize(20px, 22px, 500);
        @include wiHe($he: 22px);
        margin-top: 5px;
        text-align: center;
        color: $closeColor;
    }
    //----------------------------
    //----ТЕКСТОВЫЙ-БЛОК----
    &__title {
        grid-area: title;
        text-align: center;
    }
    &__subtitle {
        grid-area: subtitle;
        display: grid;
        text-align: center;
        align-items: center;
        hyphens: none !important;
    }
    //---БЕГУЩАЯ-СТРОКА--
    &__string {
        grid-area: string;
        align-self: center;
        @include wiHe($he: max-content);
        overflow: hidden;
    }
    &__marquee {
        width: max-content;
        img {
            margin: 0px 10px;
            width: 300px;
            height: 150px;
        }
    }
}

.form-block__name {
    grid-area: name;
}

.form-block__phone {
    grid-area: phone;
}

.form-block__comment {
    grid-area: comment-form;
}

.form-block__btn {
    grid-area: btn-form;
    background-color: $blueColor;
}

//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------
//-------------------------------

/*----MEDIA----*/

@media (max-width: 1600px) {
    .form-block {
        //----ФОРМА-ОТПРАВКИ-НА СТРАНИЦЕ----
        label {
            @include fontSize(1.8vw, 120%, 500);
            //инпуты
            input {
                @include wiHe(100%, max-content);
                padding: 10px;
                @include fontSize(1.4vw, 120%, 400);
            }
            //текстовое окно
            textarea {
                @include wiHe(100%, 150px);
                padding: 10px;
                @include fontSize(1.4vw, 120%, 400);
            }
        }
        &__checkbox-label {
            font-size: 1.4vw !important;
            &::before {
                @include wiHe(24px, 24px);
            }
            &::after {
                @include leTo(4px, 4px);
                @include wiHe(16px, 16px);
            }
        }
        //---ОКНО-СООБЩЕНИЯ-ВАЛИДАЦИИ---
        &__massage-err {
            @include fontSize(18px, 20px, 500);
            @include wiHe($he: 20px);
            margin-top: 5px;
        }
        //бегущая строка
        &__marquee {
            width: max-content;
            img {
                margin: 0px 10px;
                width: 200px;
                height: 100px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .form-block {
        &__container {
            width: 93%;
        }
        //----ФОРМА-ОТПРАВКИ-НА СТРАНИЦЕ----
        label {
            @include fontSize(2.2vw, 120%, 500);
            //инпуты
            input {
                padding: 10px 5px;
                @include fontSize(1.6vw, 120%, 400);
            }
            //текстовое окно
            textarea {
                @include wiHe(100%, 100px);
                padding: 10px 5px;
                @include fontSize(1.6vw, 120%, 400);
            }
        }
        &__checkbox-label {
            font-size: 1.8vw !important;
            &::before {
                @include wiHe(18px, 18px);
            }
            &::after {
                @include leTo(3px, 3px);
                @include wiHe(12px, 12px);
            }
        }
        //---ОКНО-СООБЩЕНИЯ-ВАЛИДАЦИИ---
        &__massage-err {
            @include fontSize(1.8vw, 120%, 400);
        }
        //бегущая строка
        &__marquee {
            width: max-content;
            img {
                margin: 0px 10px;
                width: 200px;
                height: 100px;
            }
        }
    }
}

@media (max-width: 768px) {
    .form-block {
        width: 100%;
        background-color: $smokeColor;
        &__container {
            grid-template-areas: 'title title' 'subtitle subtitle' 'name phone ' 'comment-form comment-form ' 'form-item form-item ' 'btn-form btn-form ' 'string string';
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(7, max-content);
            row-gap: 0px;
            column-gap: 10px;
        }
        &__title {
            margin-bottom: 5px;
        }
        &__subtitle {
            margin-bottom: 10px;
            text-align: start;
        }
        label {
            @include fontSize(3vw, 120%, 600);
            //инпуты
            input {
                padding: 10px 5px;
                @include fontSize(3vw, 120%, 400);
            }
            //текстовое окно
            textarea {
                @include wiHe(100%, 100px);
                padding: 10px 5px;
                @include fontSize(3vw, 120%, 400);
            }
        }
        //---ОКНО-СООБЩЕНИЯ-ВАЛИДАЦИИ---
        &__massage-err {
            @include fontSize(2.5vw, 120%, 400);
        }
        &__checkbox-label {
            font-size: 3vw !important;
            font-weight: 400 !important;
        }
        //---БЕГУЩАЯ-СТРОКА--
        &__string {
            margin-top: 20px;
        }
        &__marquee {
            width: max-content;
            img {
                margin: 0px 20px;
                width: 170px;
                height: 80px;
            }
        }
    }
}

@media (max-width: 480px) {
    .form-block {
        &__container {
            column-gap: 5px;
        }
        &__title {
            margin-bottom: 7px;
        }
        label {
            @include fontSize(3.5vw, 120%, 600);
            //инпуты
            input {
                padding: 7px 5px;
                @include fontSize(3.2vw, 110%, 400);
            }
            //текстовое окно
            textarea {
                padding: 5px;
                @include fontSize(3.2vw, 120%, 400);
            }
        }
        //---ОКНО-СООБЩЕНИЯ-ВАЛИДАЦИИ---
        &__massage-err {
            margin: 3px 0px;
            height: 2.8vw;
            @include fontSize(2.7vw, 100%, 400);
        }
        //---БЕГУЩАЯ-СТРОКА--
        &__string {
            margin-top: 20px;
        }
        &__marquee {
            width: max-content;
            img {
                margin: 0px 10px;
                width: 120px;
                height: 60px;
            }
        }
    }
}